@font-face {
    src: url("../../fonts/Yekan.ttf");
    font-family: yekan;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: yekan;
}

// blue-section
.blue {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: #1091ff;
    padding: 2rem 0rem;
    color: white;
}

// End blue-section
// which-service
.which {
    margin-top: 2rem;
    &__title {
        &__txt {
            margin: 0;
            font-size: 25px;
            border-right: 3px solid #05FEA3;
            padding-right: 1rem;
            color: #0d6ec2;
        }
    }
}

.which__service {
    margin-top: 2rem;
}

.img-spe {
    margin-bottom: 0.9rem;
}

.each__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    .row__img {
        margin-bottom: 1rem;
    }
    &__div {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 7px #1091ff;
        padding: 1rem 3rem;
        border-radius: 15px;
        justify-content: center;
        height: 100%;
    }
}

.coming__soon {
    color: white;
    background-color: #0d6ec2;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 15px;
}

.spc {
    opacity: 0.5;
}

.questions {
    margin-top: 2rem;
    margin-bottom: 2rem;
    .ques {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 2rem;
        cursor: pointer;
        .txt {
            padding-right: 3rem;
            color: #0d6ec2;
        }
    }
    .plus {
        .vetical {
            background-color: #0d6ec2;
            width: 30px;
            height: 3px;
        }
        .horizontal {
            width: 30px;
            height: 3px;
            background-color: #0d6ec2;
            transform: translateY(-2px) rotate(90deg);
        }
    }
}

.onclick {
    animation-name: animate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes opa {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.txt__desc {
    display: none;
    color: black;
}

.active {
    display: block;
    animation-name: opa;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes animate {
    100% {
        transform: rotate(-90deg) translate(-28px, -25px);
        background-color: #05FEA3;
    }
}

// End which-service // End which-service